@use "../settings/variables";
@use "../tools/functions";

body {
  font-family: variables.$font-family;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0px;
  background: url("/assets/images/front-page.png") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
