<section class="grid grid-cols-4 gap-x-1 mb-16">
  <button
    *ngFor="let menuItem of menuItems; index as i"
    class="text-white border-2-secondary rounded-3 flex items-center text-8 px-2 cursor-pointer"
    [class.bg-primary]="isCurrentSection(menuItem.section)"
    [class.bg-secondary-500]="!isCurrentSection(menuItem.section)"
    id="menu-item"
    type="button"
    (click)="toPageView(menuItem.path)"
  >
    <ng-container *ngComponentOutlet="menuItem.svgComponent"></ng-container>

    {{ menuItem.text }}
  </button>
</section>