$accumulator: 0;

@for $i from 1 through 10 {
  $accumulator: $accumulator + 0.25rem;
  .rounded-#{$i} {
    border-radius: $accumulator;
  }
}

.rounded-t-3 {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.rounded-b-3 {
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
