<section class="relative">
  <section class="flex items-center" (click)="visibleOptions = !visibleOptions">
    <input 
      type="text"
      class="input-text cursor-pointer"
      placeholder="Seleccione"
      [value]="text"
      (blur)="visibleOptions = false"
      readonly>
    <app-svg-triangle-down
      className="scale-3"
      style="margin-left: -36px;"
    ></app-svg-triangle-down>
  </section>

  <section 
    *ngIf="visibleOptions"
    (mousedown)="$event.preventDefault()"
    style="margin-top: 3px;"
    class="absolute w-full z-10" 
  >
    <ul class="bg-white shadow-2">
      <li class="py-2 px-4 cursor-pointer hover:bg-primary-200"
        *ngFor="let option of options; index as i"
        (click)="select(option)"
      >
        {{ getOptionText(option) }}
      </li>
    </ul>
  </section>
</section>