@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.table-default {
  width: 100%;
  border-collapse: collapse;
  th,
  td {
    padding: 0.6rem;
    text-align: left;
  }
  th {
    text-transform: uppercase;
    font-weight: 400;
    color: #{functions.light-dark(variables.$gray-color-1, variables.$gray-color-1)};
    @include mixins.calculate-font-size(0.5);
  }
  td {
    color: #{functions.light-dark(variables.$gray-color-3, variables.$white-color)};
    border-bottom: 0.2px solid variables.$accent-color;
    @include mixins.calculate-font-size(0.7);
  }
}
