@use "../settings/variables";

.a-input-radio {
  display: inline-block;
  position: relative;
  margin-right: 24px;
  input[type="radio"] {
    display: none;
  }
  label {
    color: variables.$gris-color;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
  }
  label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    background-color: rgba(variables.$gris-color, 0.5);
  }
  label:after {
    border-radius: 11px;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 5px;
    content: " ";
    display: block;
    background: white;
  }
  input[type="radio"]:checked + label:before {
    border: 5px solid variables.$success-color;
    background-color: variables.$success-color;
  }
  input[type="radio"]:checked + label:after {
    background: white;
  }
  // &--only {
  //     display: inline-block;
  //     position: relative;
  //     // margin-right: 24px;
  //     input[type='radio'] {
  //         display: none;
  //     }
  //     label {
  //         // color: variables.$gris-color;
  //         // font-style: normal;
  //         // font-weight: 500;
  //         // font-size: 14px;
  //         // line-height: 19px;
  //         cursor: pointer;
  //     }
  //     label:before {
  //         content: " ";
  //         display: inline-block;
  //         position: relative;
  //         top: 5px;
  //         // margin-right: 12px;
  //         width: 20px;
  //         height: 20px;
  //         border-radius: 11px;
  //         background-color: rgba(variables.$gris-color, .5);
  //     }
  //     label:after {
  //         border-radius: 11px;
  //         width: 10px;
  //         height: 10px;
  //         position: absolute;
  //         top: 10px;
  //         left: 5px;
  //         content: " ";
  //         display: block;
  //         background: white;
  //     }
  //     input[type=radio]:checked + label:before {
  //         border: 5px solid variables.$success-color;
  //         background-color: variables.$success-color;
  //     }
  //     input[type=radio]:checked + label:after {
  //         background: white;
  //     }
  // }
}

@media (max-width: variables.$max-width-lg) {
  .a-input-radio {
    margin-right: 10px;
    label {
      font-size: 14px;
    }
    label:before {
      margin-right: 8px;
    }
  }
}
