<app-top-bar title="Gestor de horas"></app-top-bar>
<section class="pt-30 pb-8 px-30">
  <app-card>
    <form action="">
      <section class="d-grid grid-columns-4 gap-x-1">
        <section class="form-control">
          <label class="label" for="">ID Requerimiento</label>
          <select class="select" name="" id="">
            <option value="">GR021163</option>
            <option value="">GR021163</option>
            <option value="">GR021163</option>
          </select>
        </section>

        <section class="form-control">
          <label class="label" for="">Estado</label>
          <select class="select" name="" id="">
            <option value="">Concluido</option>
            <option value="">Concluido</option>
            <option value="">Concluido</option>
          </select>
        </section>

        <section class="form-control">
          <label class="label" for="">Ficha de registro</label>
          <select class="select" name="" id="">
            <option value="">15/01/2022</option>
            <option value="">15/01/2022</option>
            <option value="">15/01/2022</option>
          </select>
        </section>

        <section class="mt-7 d-flex">
          <button type="button" class="btn btn-sm btn-secondary btn-rounded mr-2">
            <app-svg-filter className="scale-3"></app-svg-filter>
          </button>

          <button type="button" class="btn btn-sm btn-primary w-100 btn-rounded d-flex justify-space-between items-center">
            Agregar <app-svg-add className="scale-3"></app-svg-add>
          </button>
        </section>
      </section>
    </form>
  </app-card>
</section>

<section class="px-30">
  <app-card>
    <section class="d-flex justify-space-between">
      <section class="d-flex gap-x-2">
        <section class="flex-center">
          <p class="text-8 text-primary text-600">Detalle de horas registradas</p>
        </section>
  
        <section class="flex-center">
          <app-svg-file></app-svg-file> <p class="text-7 text-primary ml-1 text-underline cursor-pointer">Reporte horas</p>
        </section>
  
        <section class="flex-center">
          <app-svg-file></app-svg-file> <p class="text-7 text-primary ml-1 text-underline cursor-pointer">Ver faltantes</p>
        </section>
      </section>

      <section>
        <app-svg-update></app-svg-update>
      </section>
    </section>
    <section class="mt-4">
      <table class="table-default">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>ID Requerimiento</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Horas</th>
            <th>Estado</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>15/01/2022</td>
            <td>GROCIO</td>
            <td>GRO21163</td>
            <td>DISEÑO</td>
            <td>Carga de matices - Lote 12...</td>
            <td>2.00</td>
            <td>Concluido</td>
            <td>
              <app-svg-edit></app-svg-edit>
            </td>
            <td>
              <app-svg-delete></app-svg-delete>
            </td>
            <td>
              <app-svg-info></app-svg-info>
            </td>
            <td>
              <!-- <app-svg-files></app-svg-files> -->
            </td>
          </tr>
          <tr>
            <td>15/01/2022</td>
            <td>GROCIO</td>
            <td>GRO21163</td>
            <td>DISEÑO</td>
            <td>Carga de matices - Lote 12...</td>
            <td>2.00</td>
            <td>Concluido</td>
            <td>
              <!-- <app-svg-edit></app-svg-edit> -->
            </td>
            <td>
              <app-svg-delete></app-svg-delete>
            </td>
            <td>
              <app-svg-info></app-svg-info>
            </td>
            <td>
              <app-svg-files></app-svg-files>
            </td>
          </tr>
          <tr>
            <td>15/01/2022</td>
            <td>GROCIO</td>
            <td>GRO21163</td>
            <td>DISEÑO</td>
            <td>Carga de matices - Lote 12...</td>
            <td>2.00</td>
            <td>Concluido</td>
            <td>
              <app-svg-edit></app-svg-edit>
            </td>
            <td>
              <!-- <app-svg-delete></app-svg-delete> -->
            </td>
            <td>
              <app-svg-info></app-svg-info>
            </td>
            <td>
              <app-svg-files></app-svg-files>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </app-card>
</section>
