@use "../settings/variables";
@use "../tools/functions";

.border-top-1-primary {
  border-top: 1px solid #{functions.light-dark(variables.$primary-color, variables.$primary-inverted-color)};
}

.border-bottom-primary-1 {
  border-bottom: 1px solid #{functions.light-dark(variables.$primary-color, variables.$primary-inverted-color)};
}

.border-bottom-primary-2 {
  border-bottom: 2px solid #{functions.light-dark(variables.$primary-color, variables.$primary-inverted-color)};
}
