@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.label {
  $color: #{functions.light-dark(variables.$gray-color-2, variables.$white-color)};

  color: $color;
  margin-bottom: 0.5rem;
  display: block;
  @include mixins.calculate-font-size(0.6);
}
