<app-top-bar title="Personal"></app-top-bar>
<section class="pt-30 pb-8 px-30">
  <app-card>
    <form action="">
      <section id="person-filter-form">
        <section class="form-control" id="name">
          <label class="label" for="">Nombres</label>
          <input type="text" class="input-text">
        </section>

        <section class="form-control" id="dni">
          <label class="label" for="">DNI</label>
          <input type="text" class="input-text">
        </section>

        <section class="form-control" id="type">
          <label class="label" for="">Tipo</label>
          <select class="select" name="" id="">
            <option value="">Consultor</option>
            <option value="">Consultor</option>
            <option value="">Consultor</option>
          </select>
        </section>

        <section class="form-control" id="position">
          <label class="label" for="">Cargo</label>
          <select class="select" name="" id="">
            <option value="">Externo</option>
            <option value="">Externo</option>
            <option value="">Externo</option>
          </select>
        </section>

        <section class="form-control" id="area">
          <label class="label" for="">Area</label>
          <input type="text" class="input-text">
        </section>

        <div id="buttons">
          <section class="mt-5 d-flex">
            <button type="button" class="btn btn-secondary btn-rounded mr-2">
              <app-svg-filter className="scale-3"></app-svg-filter>
            </button>
  
            <button type="button" (click)="toPersonRegister()" class="btn btn-primary w-100 btn-rounded d-flex justify-space-between items-center">
              Registrar <app-svg-add className="scale-3"></app-svg-add>
            </button>
          </section>
        </div>
      </section>
    </form>
  </app-card>
</section>

<section class="px-30">
  <app-card>
    <section class="d-flex justify-space-between">
      <section class="flex-center">
        <p class="text-8 text-primary text-600">Detalle de Personal</p>
      </section>

      <section class="flex-center">
        <section class="d-flex">
          <app-svg-file></app-svg-file> <p class="text-7 text-primary mr-4 ml-1 text-underline cursor-pointer">Reporte horas</p>
        </section>
        <app-svg-update className="cursor-pointer"></app-svg-update>
      </section>
    </section>

    <section class="mt-4">
      <table class="table-default">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Cargo</th>
            <th>Tipo</th>
            <th>Jefe Superior</th>
            <th>Estado</th>
            <th class="action-cell"></th>
            <th class="action-cell"></th>
            <th class="action-cell"></th>
            <th class="action-cell"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Juan Jose</td>
            <td>Consultor Web</td>
            <td>Externo</td>
            <td>Jefe Superior</td>
            <td>Activo</td>
            <td>
              <app-svg-edit className="cursor-pointer"></app-svg-edit>
            </td>
            <td>
              <app-svg-delete className="cursor-pointer"></app-svg-delete>
            </td>
            <td>
              <app-svg-info className="cursor-pointer" (click)="openModalPersonDetails()"></app-svg-info>
            </td>
            <td>
              <app-svg-files className="cursor-pointer"></app-svg-files>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </app-card>

  <app-modal [visible]="modalPersonDetailsVisible" (close)="closeModalPersonDetails()" size="lg">
    <section>
      <p class="text-primary text-7 mb-3">Ver detalles</p>

      <section id="details-person">
        <section class="form-control" id="firstName">
          <label class="label" for="">Primer Nombre</label>
          <input type="text" class="input-text" value="First name">
        </section>
        <section class="form-control" id="lastName">
          <label class="label" for="">Segundo Nombre</label>
          <input type="text" class="input-text" value="Last name">
        </section>
        <section class="form-control" id="firstSurname">
          <label class="label" for="">Primer Apellido</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="lastSurname">
          <label class="label" for="">Segundo Apellido</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="image">
          <img src="assets/images/photo-default.png" alt="">
        </section>

        <section class="form-control" id="position">
          <label class="label" for="">Cargo</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="afp">
          <label class="label" for="">AFP u ONP</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="area">
          <label class="label" for="">Area</label>
          <input type="text" class="input-text">
        </section>

        <section class="form-control" id="bank">
          <label class="label" for="">Banco</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="account">
          <label class="label" for="">N° Cuenta</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="money">
          <label class="label" for="">Moneda</label>
          <input type="text" class="input-text">
        </section>

        <section class="form-control" id="type">
          <label class="label" for="">Tipo</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="records">
          <label class="label" for="">Antecedentes penales</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="firm">
          <img src="assets/images/firm.png" class="mt-6" alt="">
        </section>

        <section class="form-control" id="cuspp">
          <label class="label" for="">CUSPP</label>
          <input type="text" class="input-text">
        </section>
        <section class="form-control" id="admissionDate">
          <label class="label" for="">Fecha Ingreso</label>
          <input type="text" class="input-text">
        </section>

        <section class="form-control" id="dniReverse1">
          <label class="label" for="">DNI reverso</label>
          <p class="text-7 text-primary text-underline cursor-pointer">Visualizar DNI</p>
        </section>
        <section class="form-control" id="dniReverse2">
          <label class="label" for="">DNI reverso</label>
          <p class="text-7 text-primary text-underline cursor-pointer">Visualizar DNI</p>
        </section>
        <section class="form-control" id="photo">
          <label class="label" for="">Foto</label>
          <p class="text-7 text-primary text-underline cursor-pointer">Visualizar foto</p>
        </section>
      </section>

      <section class="d-flex justify-flex-end">
        <button type="button" class="btn btn-outline-primary btn-rounded btn-sm" (click)="closeModalPersonDetails()">
          Cerrar
        </button>
      </section>
    </section>
  </app-modal>
</section>
