@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.select {
  @include mixins.input-base();
  background: url("/assets/svg/arrow-bottom.svg") no-repeat right;
  -webkit-appearance: none;
  background-position-x: 225px;
}
