<section>
  <section class="d-grid grid-template-auto-4 gap-x-1">
    <section class="form-control">
      <label class="label" for="">Primer Nombre</label>
      <input type="text" class="input-text" value="First name">
    </section>
    <section class="form-control">
      <label class="label" for="">Segundo Nombre</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Apellido Paterno</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Apellido Materno</label>
      <input type="text" class="input-text">
    </section>

    <section class="form-control">
      <label class="label" for="">Tipo de documento</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">N° DNI</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Sexo</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Lugar de nacimiento</label>
      <input type="text" class="input-text">
    </section>

    <section class="form-control">
      <label class="label" for="">Fecha de nacimiento</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Nacionalidad</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Estado civil</label>
      <input type="text" class="input-text">
    </section>
    <section class="form-control">
      <label class="label" for="">Distrito</label>
      <input type="text" class="input-text">
    </section>
  </section>

  <section class="form-control">
    <label class="label" for="">Domicilio</label>
    <input type="text" class="input-text">
  </section>
  <section class="form-control">
    <label class="label" for="">Referencia domicilio</label>
    <input type="text" class="input-text">
  </section>

  <section class="d-grid grid-template-auto-4 gap-x-1">
    <section>
      <label class="label" for="">Teléfono fijo</label>
      <input type="text" class="input-text">
    </section>
    <section>
      <label class="label" for="">Teléfono celular</label>
      <input type="text" class="input-text">
    </section>
    <section>
      <label class="label" for="">Correo electrónico personal</label>
      <input type="text" class="input-text">
    </section>
    <section>
      <label class="label" for="">Correo electrónico empresa</label>
      <input type="text" class="input-text">
    </section>
  </section>

  <section class="d-flex justify-flex-end mt-6">
    <button type="button" class="btn btn-primary btn-rounded d-flex items-center">
      Registrar personal
      <app-svg-add className="scale-3 ml-2"></app-svg-add>
    </button>
  </section>
</section>