@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.btn {
  border: none;
  box-shadow: none;
  outline: none;
  // height: 3em;
  padding: 0.6rem 1rem;
  cursor: pointer;
  @include mixins.calculate-font-size(0.7);
  &-sm {
    @include mixins.calculate-font-size(0.6);
  }
  // &-disabled-primary {
  //   background: #b6deee;
  // }
  // &-disabled-secondary {
  //   background: #9eeec3;
  // }
  // &-lg {
  //   min-width: 15rem;
  // }
  // &-rounded {
  //   border-radius: 8px;
  // }
  // &-block {
  //   width: 100%;
  // }
  &-white {
    color: variables.$black-color;
    background: variables.$white-color;
  }
  &-primary {
    color: variables.$white-color;
    background: #{functions.light-dark(variables.$primary-color, variables.$primary-inverted-color)};
  }
  &-outline-primary {
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;
    background: #{functions.light-dark(variables.$white-color, variables.$primary-inverted-color)};
  }
  &-secondary {
    color: variables.$white-color;
    background: #{functions.light-dark(variables.$secondary-color, variables.$primary-inverted-color)};
  }
  &-primary:disabled {
    background: #b6deee;
  }
  &-secondary:disabled {
    background: #9eeec3;
  }
  &-gray-1 {
    color: variables.$white-color;
    background: variables.$gray-color-1;
  }
  &-gray-2 {
    color: variables.$white-color;
    background: variables.$gray-color-2;
  }
  &-gray-3 {
    color: variables.$white-color;
    background: variables.$gray-color-3;
  }
  &-accent {
    color: variables.$gray-color-3;
    background: variables.$accent-color;
  }
  &-danger {
    color: variables.$white-color;
    background: variables.$danger-color;
  }
}

// .hover\:bg-caqui:hover {
//   $background: #{functions.light-dark(variables.$caqui-color, variables.$primary-inverted-color)};

//   color: variables.$white-color;
//   background: $background;
// }

// @media (max-width: variables.$max-width-lg) {
//   .lg\:bg-blue-1 {
//     $background: #{functions.light-dark(variables.$blue-color-1, variables.$primary-inverted-color)};

//     color: variables.$white-color;
//     background: $background;
//   }
// }
