@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.table-default {
  width: 100%;
  border-spacing: 6px;
  th,
  td {
    padding: 0.6rem;
    text-align: center;
    color: variables.$white-color;
    @include mixins.calculate-font-size(0.6);
  }
  th {
    border-radius: 10px;
    border: 2px solid variables.$secondary-color;
    background: variables.$primary-color;
  }
  td {
    border-radius: 10px;
    // border: 2px solid variables.$secondary-color;
    background: rgba(168, 168, 168, 0.3);
  }
  thead th:last-child {
    width: 50px;
  }
}

@media (max-width: variables.$max-width-md) {
  .table-default {
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      display: none;
    }
    tbody tr {
      border-bottom: 1px solid variables.$gray-color-1;
    }
    td:before {
      position: absolute;
      content: attr(label);
      font-size: 13px;
      color: rgba(variables.$black-color, 0.7);
      font-weight: bold;
      left: 0;
    }
    td {
      border: none;
      position: relative;
      padding-left: 40%;
      font-size: 13px;
      color: variables.$gray-color-2;
      text-align: right;
    }
  }
}
