@use "../settings/variables";
@use "../tools/functions";
@use "../tools/mixins";

.table-default {
  width: 100%;
  border-collapse: collapse;
  th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  th:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  th,
  td {
    padding: 0.8rem;
    text-align: center;
  }
  th {
    background: rgba(variables.$primary-color, 0.1);
    font-weight: 600;
    color: #{functions.light-dark(variables.$primary-color, variables.$gray-color-1)};
    @include mixins.calculate-font-size(0.6);
  }
  td {
    color: #{functions.light-dark(variables.$gray-color-2, variables.$white-color)};
    border-bottom: 0.2px solid variables.$accent-color;
    @include mixins.calculate-font-size(0.6);
  }
  tr:nth-child(even) {
    background-color: rgba(variables.$gray-color-1, 0.2);
  }
}

@media (max-width: variables.$max-width-md) {
  .table-default {
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
    thead {
      display: none;
    }
    tbody tr {
      border-bottom: 1px solid variables.$gray-color-1;
    }
    td:before {
      position: absolute;
      content: attr(label);
      font-size: 13px;
      color: rgba(variables.$black-color, 0.7);
      font-weight: bold;
      left: 0;
    }
    td {
      border: none;
      position: relative;
      padding-left: 40%;
      font-size: 13px;
      color: variables.$gray-color-2;
      text-align: right;
    }
  }
}
