<section class="flex-center">
  <section class="w-100 md:w-full md:px-5">
    
    <p class="text-white text-center text-8 text-600 mb-6">Iniciar sesión</p>
  
    <form  class="form-control" [formGroup]="loginForm">
      <section class="form-control">
        <app-select  
          placeholder="Tipo de usuario"
          [options]="userTypes"
          optionText="type"
          optionValue="value"
          (selected)="userType = $event; onChangeusuario($event); valueDoc=$event;"
        ></app-select>
        <label *ngIf="requiredTipo" class="errorLabel">Tipo de usuario es requerido</label>
      </section>
  
      <section class="form-control">
        <app-select 
          placeholder="Tipo de documento"
          [options]="documentTypes"
          optionText="type"
          optionValue="value"
          (selected)="documentType = $event"
          [value]="valueDoc"
        ></app-select>
      </section>
  
      <section class="form-control">
        <input type="text" class="input-text" placeholder="Usuario"  formControlName="usuario" maxlength="11"
        (blur)="validateRequired('usuario')" (keyup)="clearError('usuario')">
        <label *ngIf="requiredUser" class="errorLabel">Usuario es requerido</label>
      </section>
  
      <section class="form-control">
        <input type="password" class="input-password" placeholder="Contraseña" formControlName="contrasenia" maxlength="20"
        (blur)="validateRequired('contrasenia')" (keyup)="clearError('contrasenia')">
        <label *ngIf="requiredContrasenia" class="errorLabel">Contraseña es requerida</label>
      </section>
      
      <section class="flex justify-space-between items-center">
        <section>
          <app-input-checkbox [checked]="true"
          (change)="checkedFun()">
            <p class="text-6 text-white">Recordar contraseña</p>
          </app-input-checkbox>
        </section>
        
        <section>
          <p class="text-white text-6 text-600 cursor-pointer" (click)="toRecoverPasswordView()">¿Olvidaste tu contraseña?</p>
        </section>
      </section>
  
      <button
        type="button"
        class="btn bg-secondary w-full mt-7 mb-4 text-white"
        [disabled]="!loginForm.valid"
        (click)="Login()"
      >
        Ingresar
      </button>
    </form>
  
    <section class="flex-center">
      <p class="text-white">¿No tienes cuenta?</p>
      <p class="text-white text-600 ml-2 cursor-pointer" (click)="toRegisterView()">Crear</p>
    </section>
  </section>
</section>