<section class="grid grid-cols-2 gap-x-1">
  <section class="form-control">
    <input type="text" class="input-text" placeholder="DNI">
  </section>

  <section class="form-control">
    <input type="text" class="input-text" placeholder="Número de documento">
  </section>

  <section class="form-control col-span-2">
    <input type="text" class="input-text" placeholder="Nombres">
  </section>

  <section class="form-control">
    <input type="text" class="input-text" placeholder="Apellido paterno">
  </section>

  <section class="form-control">
    <input type="text" class="input-text" placeholder="Apellido materno">
  </section>

  <section class="form-control">
    <app-select
      placeholder="Carrera"
    ></app-select>
  </section>

  <section class="form-control">
    <input type="text" class="input-text" placeholder="Correo electrónico">
  </section>

  <section class="from-control">
    <input type="password" class="input-password" placeholder="Contraseña">
  </section>

  <section class="from-control">
    <input type="password" class="input-password" placeholder="Repetir Contraseña">
  </section>
</section>