@use "../settings/variables";
@use "../tools/mixins";

.menu-item {
  display: flex;
  position: relative;
  cursor: pointer;
  &__bar {
    background: variables.$primary-color;
    width: 7px;
  }
  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 0.8rem;
  }
  &__svg {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      scale: 0.8;
    }
  }
  &__text {
    @include mixins.calculate-font-size(0.6);
    color: variables.$gray-color-2;
    text-align: center;
    padding: 0.2rem 0 0 0;
  }
  &__options {
    position: absolute;
    top: 20px;
    left: 140px;
    background: variables.$white-color;
    box-shadow: variables.$shadow-light;
    border-radius: 4px;
    :before {
      content: "";
      position: absolute;
      top: 10px;
      left: -11px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 12px 5px;
      border-color: transparent transparent white transparent;
      rotate: -90deg;
    }
    ul {
      width: 14rem;
      li {
        text-align: center;
        padding: 0.6rem 0;
        color: variables.$gray-color-2;
        @include mixins.calculate-font-size(0.6);
        &:hover {
          background: rgba(variables.$primary-color, 0.1);
        }
      }
    }
  }
  &--active {
    background: rgba(variables.$primary-color, 0.1);
    .menu-item__text {
      color: variables.$primary-color;
      // font-weight: 600;
    }
  }
}
