@use "../settings/variables";

.grid-template-auto-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-template-auto-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-template-auto-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-template-auto-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-template-columns-4 {
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.grid-template-1-2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "first second second";
}

$fields: first, second;

@each $field in $fields {
  .grid-template-1-2 > ##{$field} {
    grid-area: #{$field};
  }
}

.grid-template-3-2 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "first first first second second";
}

$fields: first, second;

@each $field in $fields {
  .grid-template-3-2 > ##{$field} {
    grid-area: #{$field};
  }
}

.grid-template-2-3 {
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "first first second second second";
}

$fields: first, second;

@each $field in $fields {
  .grid-template-2-3 > ##{$field} {
    grid-area: #{$field};
  }
}

@for $i from 1 through 6 {
  .grid-columns-#{$i} {
    grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
  }
}

@media (max-width: variables.$max-width-lg) {
  @for $i from 1 through 6 {
    .lg\:grid-columns-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

@for $i from 1 through 20 {
  .gap-#{$i} {
    gap: #{$i}rem;
  }

  .gap-x-#{$i} {
    gap: 0 #{$i}rem;
  }

  .gap-y-#{$i} {
    gap: #{$i}rem 0;
  }
}

@media (max-width: variables.$max-width-lg) {
  @for $i from 1 through 20 {
    .lg\:gap-#{$i} {
      gap: #{$i}rem;
    }

    .lg\:gap-x-#{$i} {
      gap: 0 #{$i}rem;
    }

    .lg\:gap-y-#{$i} {
      gap: #{$i}rem 0;
    }
  }
}
