@use "../settings/variables";

/* position */

$positions: relative, absolute, fixed, initial, inherit;

@each $position in $positions {
  .#{$position} {
    position: $position;
  }
}

@media (max-width: variables.$max-width-lg) {
  @each $position in $positions {
    .lg\:#{$position} {
      position: $position;
    }
  }
}

/* top, left, right, bottom */
// .top-15px {
//   top: 15px;
// }

// .left-20-negative {
//   left: -90%;
// }

$directions: right, left, top, bottom;

@each $direction in $directions {
  @for $i from 0 through 100 {
    .#{$direction}-#{$i} {
      #{$direction}: $i * 1%;
    }
  }
}

@each $direction in $directions {
  @for $i from 0 through 100 {
    .#{$direction}-#{$i}px {
      #{$direction}: #{$i}px;
    }
  }
}

@media (max-width: variables.$max-width-lg) {
  @each $direction in $directions {
    @for $i from 0 through 120 {
      .lg\:#{$direction}-#{$i} {
        #{$direction}: $i * 1%;
      }
    }
  }
}
