@use "../settings/variables";

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.scrollbar-default {
  &::-webkit-scrollbar-track {
    margin: 3px 0;
  }
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    border-radius: 0 6px 6px 0;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(variables.$gray-color-1, 0.7);
    border-radius: 0 10px 10px 0;
  }
}
