<app-modal [visible]="visible" size="xs" [closeIconVisible]="false">
  <section>
    <section class="flex-center h-7">
      <app-svg-circle-success className="scale-2"></app-svg-circle-success>
    </section>
    <p class="text-8 text-gray-2 text-center mb-7 line-height-2">
      {{ text }}
    </p>
    <section class="flex-center">
      <button 
        class="btn btn-primary btn-rounded btn-sm w-25"
        (click)="close.emit()"  
      >
        OK
      </button>
    </section>
  </section>
</app-modal>