<section class="flex-center">
  <section class="w-100 md:w-full md:px-5">
    <section class="border-2-secondary pt-8 pb-4 px-6">
      <p class="text-white text-600 text-6 mb-8 cursor-pointer" (click)="toLoginView()">Atrás</p>

      <p class="text-white text-8 text-600 text-center mb-4">¿Olvidaste tu contraseña?</p>
    
      <p class="text-white text-6 text-center mb-4">Escribe tu dirección de correo electrónico y te enviaremos un enlace para que puedas cambiar tu contraseña</p>
    
      <input type="password" class="input-password" placeholder="Correo Electrónico">
    
      <button
        type="button"
        class="btn bg-secondary w-full mt-7 mb-4 text-white"
      >
        Enviar
      </button>
    </section>
  </section>
</section>