<section class="relative bg-secondary h-100vh overflow-hidden">
  <img 
    class="w-100 object-cover h-100vh"
    src="/assets/images/logo-1.jpg" 
    alt="">
  
  <section class="absolute top-28 left-12">
    <p class="text-21 text-600 text-white line-height-5">
      Bienvenido <br> al Sistema SGX
    </p>
    <div class="bg-white divider-5 mt-5 w-55"></div>
  </section>

  <section class="absolute bottom-7 left-12">
    <p class="text-7 text-white">
      Xternal 2022. Todos los derechos reservados.
    </p>
  </section>

  <section class="absolute top-7 right-12 w-30">
    <section class="bg-white border-radius-4 py-8 px-12">

      <section class="mb-2 flex-center">
        <app-svg-logo className="scale-3"></app-svg-logo>
      </section>

      <form action="">
        <section class="form-control mb-2">
          <label for="" class="label"><span class="text-7">Usuario</span></label>
          <input class="input-text-2" type="text" value="MCUELLAR">
        </section>

        <section class="form-control">
          <label for="" class="label"><span class="text-7">Contraseña</span></label>
          <input class="input-password" type="password" value="******">
        </section>
        
        <section class="flex-center py-6">
          <button type="button" class="btn btn-rounded btn-secondary flex-center">
            <span class="text-9 text-300">Ingresar</span>
            <app-svg-access className="scale-3 ml-14"></app-svg-access>
          </button>
        </section>
      </form>

      <div class="divider-1 bg-gray-1 mb-4"></div>

      <section>
        <p class="text-blue text-6 text-center text-600 cursor-pointer" (click)="openModalRestoredPassword()">
          ¿Olvidaste tu contraseña?
        </p>
      </section>
    </section>
  </section>

  <app-alert
    [visible]="alertVisible"
    text="El usuario se encuentra inactivo por intentos fallidos."
  ></app-alert>

  <app-modal [visible]="modalRestoredPasswordVisible" size="sm" [closeIconVisible]="false">
    <section>
      <p class="text-7 text-gray-2 text-center mb-3 line-height-2">
        Introduzca la dirección de su correo electrónico para
        la recuperación de contraseña
      </p>
      <section class="form-control mb-4">
        <input type="text" class="input-text" placeholder="correo@xternal.biz">
      </section>
      <section class="d-grid grid-template-auto-2 gap-x-2 mt-4">
        <button 
          class="btn btn-outline-primary btn-rounded btn-sm d-flex justify-flex-end items-center"
          (click)="closeModalRestoredPassword()"  
        >
          Cancelar
        </button>
        <button 
          class="btn btn-primary btn-rounded btn-sm d-flex justify-start items-center"
          (click)="sendEmail()"
        >
          Enviar correo
        </button>
      </section>
    </section>
  </app-modal>

  <app-modal [visible]="modalSuccessSendPasswordVisible" size="sm" [closeIconVisible]="false">
    <section>
      <section class="flex-center h-7">
        <app-svg-circle-success className="scale-2"></app-svg-circle-success>
      </section>
      <p class="text-8 text-gray-2 text-center mb-7 line-height-2">
        Se ha enviado la contraseña correctamente, favor revisar su bandeja de correo.
      </p>
      <section class="flex-center">
        <button 
          class="btn btn-primary btn-rounded btn-sm w-25"
          (click)="closeModalSuccessSendPassword()"  
        >
          OK
        </button>
      </section>
    </section>
  </app-modal>

  <app-modal [visible]="modalErrorEmailVisible" size="sm" [closeIconVisible]="false">
    <section>
      <section class="flex-center h-7">
        <app-svg-circle-error className="scale-2"></app-svg-circle-error>
      </section>
      <p class="text-8 text-gray-2 text-center mb-7 line-height-2">
        El correo ingresado no existe
      </p>
      <section class="flex-center">
        <button 
          class="btn btn-primary btn-rounded btn-sm w-25"
          (click)="closeModalErrorEmail()"  
        >
          OK
        </button>
      </section>
    </section>
  </app-modal>
</section>

