<section 
  class="menu-item"
  [class.menu-item--active]="menuItem.active"
  (click)="subMenuToggle()"
>
  <section class="menu-item__wrapper">
    <section class="menu-item__svg">
      <ng-container 
        *ngComponentOutlet="menuItem.svgComponent"
      ></ng-container>
    </section>
    <p class="menu-item__text">{{ menuItem.text }}</p>
  </section>

  <section class="menu-item__options" *ngIf="subMenuVisible">
    <ul>
      <li 
        *ngFor="let subMenuItem of menuItem.subMenuItems; index as i" 
        (click)="toPage(subMenuItem.path)"
      >
        {{ subMenuItem.text }}
      </li>
    </ul>
  </section>
</section>