<app-card title="Datos de la empresa">
  
  <section class="grid grid-cols-2 gap-x-2 md:grid-cols-1">
    <section class="form-control">
      <label for="" class="label">RUC</label>
      <input type="text" class="input-text-rounded" value="99887766554" readonly>
    </section>

    <section class="form-control">
      <label for="" class="label">Razón Social</label>
      <input type="text" class="input-text-rounded" value="Razón Test">
    </section>

    <section class="form-control">
      <label for="" class="label">Nombre comercial</label>
      <input type="text" class="input-text-rounded" value="Test">
    </section>

    <section class="form-control">
      <label for="" class="label">Ubicación</label>
      <input type="text" class="input-text-rounded" value="Ubicación">
    </section>

    <section class="form-control">
      <label for="" class="label">Rubro</label>
      <app-select-rounded></app-select-rounded>
    </section>

    <section class="form-control">
      <section class="flex">
        <section class="w-full">
          <label for="" class="label">Filial</label>
          <app-select-rounded></app-select-rounded>
        </section>
        <section class="mt-6">
          <app-switch label="Todos"></app-switch>
        </section>
      </section>
    </section>

    <section class="col-span-2 md:col-span-1">
      <section class="grid grid-cols-2 gap-x-2 md:grid-cols-1">
        <section>
          <section class="form-control">
            <label for="" class="label">Vinculación</label>
            <app-select-rounded></app-select-rounded>
          </section>

          <section class="form-control">
            <label for="" class="label">Inicio de actividades</label>
            <input type="date" class="input-text-rounded" value="Ubicación">
          </section>

          <section class="form-control">
            <label for="" class="label">N° de colaboradores</label>
            <input type="text" class="input-text-rounded" value="10">
          </section>

          <section class="form-control">
            <label for="" class="label">Condición</label>
            <app-select-rounded></app-select-rounded>
          </section>

          <section class="form-control">
            <label for="" class="label">Contraseña</label>
            <input type="password" class="input-password-rounded" value="*******">
          </section>

          <section class="form-control">
            <label for="" class="label">Repetir contraseña</label>
            <input type="password" class="input-password-rounded" value="*******">
          </section>
        </section>

        <section class="form-control">
          <label for="" class="label">Imagen</label>
          <!-- <textarea class="text-area-rounded" name="" id="" cols="30" rows="20"></textarea> -->
          <section class="text-area-rounded"></section>

          <section class="mt-4 flex-center">
            <button 
              class="bg-primary cursor-pointer rounded-2 py-1 px-10 text-white border-2-secondary text-6"
              type="button"  
            >
              Seleccionar imagen
            </button>
          </section>
        </section>
      </section>
    </section>

    <section class="form-control">
      <app-input-checkbox>
        <p class="text-5 text-white">Estaría interesado(a) en participar en ferias laborales</p>
      </app-input-checkbox>
    </section>

    <section class="form-control">
      <app-input-checkbox>
        <p class="text-5 text-white">Estaría de acuerdo en contratar practicantes pre profesionales</p>
      </app-input-checkbox>
    </section>

    <section class="form-control">
      <app-input-checkbox>
        <p class="text-5 text-white">Estaría interesado(a) en firmar un convenio de cooperación interinstitucional con la institución</p>
      </app-input-checkbox>
    </section>

    <section class="form-control">
      <app-input-checkbox>
        <p class="text-5 text-white">Desea que sus oportunidades laborales se publiquen en redes sociales oficiales</p>
      </app-input-checkbox>
    </section>
  </section>
</app-card>

<app-card title="Datos de contacto">

  <section class="grid grid-cols-2 gap-x-2 md:grid-cols-1">
    <section class="form-control">
      <label for="" class="label">Nombres</label>
      <input type="text" class="input-text-rounded" value="Nombres">
    </section>

    <section class="form-control">
      <label for="" class="label">Razón Social</label>
      <input type="text" class="input-text-rounded" value="Razón Test">
    </section>

    <section class="form-control">
      <label for="" class="label">Apellido paterno</label>
      <input type="text" class="input-text-rounded" value="Apellidos paterno">
    </section>

    <section class="form-control">
      <label for="" class="label">Correo</label>
      <input type="text" class="input-text-rounded" value="correo@correo.com">
    </section>

    <section class="form-control">
      <label for="" class="label">Celular</label>
      <app-select-rounded></app-select-rounded>
    </section>

    <section class="form-control">
      <label for="" class="label">Cargo</label>
      <app-select-rounded></app-select-rounded>
    </section>
  </section>
</app-card>

<section class="grid grid-cols-6 gap-x-1 lg:grid-cols-3 sm:block">
  <section class="mb-2 col-start-4 lg:col-start-1">
    <app-btn-primary text="Modificar"></app-btn-primary>
  </section>

  <section class="mb-2 col-start-5 lg:col-start-2">
    <app-btn-secondary text="Guardar"></app-btn-secondary>
  </section>

  <section class="mb-2 col-start-6 lg:col-start-3">
    <app-btn-secondary text="Cancelar"></app-btn-secondary>
  </section>
</section>