<app-card title="Introducción">
  
  <section class="grid grid-cols-4 gap-x-2">
    <section class="form-control col-span-4">
      <label for="" class="label">Descripción</label>
      <textarea class="text-area-rounded"></textarea>
    </section>

    <section class="form-control col-span-3">
      <section class="grid grid-cols-3 gap-x-2">
        <section class="form-control">
          <label for="" class="label">Nombres</label>
          <input type="text" class="input-text-rounded" value="Oscar Eduardo">
        </section>

        <section class="form-control">
          <label for="" class="label">Apellido paterno</label>
          <input type="text" class="input-text-rounded" value="Mendoza">
        </section>
    
        <section class="form-control">
          <label for="" class="label">Apellido materno</label>
          <input type="text" class="input-text-rounded" value="Ramos">
        </section>

        <section class="form-control col-span-3">
          <label for="" class="label">Linkedin</label>
          <input type="text" class="input-text-rounded" value="https://link">
        </section>

        <section class="form-control">
          <label for="" class="label">Teléfono</label>
          <input type="text" class="input-text-rounded" value="015819119">
        </section>

        <section class="form-control">
          <label for="" class="label">Correo</label>
          <input type="text" class="input-text-rounded" value="oramos@gamil.com">
        </section>

        <section class="form-control">
          <label for="" class="label">Ciudad</label>
          <app-select-rounded></app-select-rounded>
        </section>

        <section class="form-control col-span-2">
          <label for="" class="label">Domicilio</label>
          <input type="text" class="input-text-rounded" value="Av. Perú">
        </section>

        <section class="form-control">
          <label for="" class="label">Expectativa salarial</label>
          <input type="text" class="input-text-rounded" value="6000">
        </section>
      </section>
    </section>

    <section class="form-control">
      <label for="" class="label">Imagen</label>
      <textarea class="text-area-rounded" name="" id="" cols="30" rows="12"></textarea>

      <section class="mt-4 flex-center">
        <button 
          class="bg-primary cursor-pointer rounded-2 py-1 px-10 text-white border-2-secondary text-6"
          type="button"  
        >
          Seleccionar imagen
        </button>
      </section>
    </section>
  </section>
</app-card>

<app-card title="Formación académica">
  <section class="flex justify-flex-end">
    <button class="rounded-3 bg-secondary-300 border-2-secondary text-white text-6 py-2 px-8 cursor-pointer mb-2 mr-2">
      Agregar
    </button>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Carrera</th>
        <th>Tipo Estudio</th>
        <th>Estado Estudio</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Telesup</td>
        <td>Ingeniería de Sistemas</td>
        <td>Técnico</td>
        <td>Titulado</td>
        <td>09/06/2022</td>
        <td>23/06/2023</td>
        <td>Lima</td>
        <td></td>
      </tr>
      <tr>
        <td>1</td>
        <td>Telesup</td>
        <td>Ingeniería de Sistemas</td>
        <td>Técnico</td>
        <td>Titulado</td>
        <td>09/06/2022</td>
        <td>23/06/2023</td>
        <td>Lima</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-card title="Experiencia Laboral / Pre profesional">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Empresa</th>
        <th>Area</th>
        <th>Cargo</th>
        <th>Rubro</th>
        <th>Aptitudes</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Funciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Actualización profesional">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Institución</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Funciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Experiencias complementarias / Logros">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Aptitudes">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Idiomas">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Idioma</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Certificado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Computación">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Competencias</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Referencias">
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombres y Apellidos</th>
        <th>Institución</th>
        <th>Cargo</th>
        <th>Tipo Ref. Laboral</th>
        <th>Tipo Ref. Estudio</th>
        <th>Correo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<section class="grid grid-cols-6 gap-x-1">
  <section class="col-start-4">
    <app-btn-primary text="Nuevo"></app-btn-primary>
  </section>

  <section class="col-start-5">
    <app-btn-secondary text="Guardar"></app-btn-secondary>
  </section>

  <section class="col-start-6">
    <app-btn-secondary text="Cancelar"></app-btn-secondary>
  </section>
</section>