<app-card title="Introducción">
  
  <section class="grid grid-cols-4 gap-x-2 md:grid-cols-1">
    <section class="form-control col-span-4 md:col-span-1">
      <label for="" class="label">Descripción</label>
      <textarea class="text-area-rounded"></textarea>
    </section>

    <section class="form-control col-span-3 md:col-span-1">
      <section class="grid grid-cols-3 gap-x-2 lg:grid-cols-1">
        <section class="form-control">
          <label for="" class="label">Nombres</label>
          <input type="text" class="input-text-rounded" value="Oscar Eduardo">
        </section>

        <section class="form-control">
          <label for="" class="label">Apellido paterno</label>
          <input type="text" class="input-text-rounded" value="Mendoza">
        </section>
    
        <section class="form-control">
          <label for="" class="label">Apellido materno</label>
          <input type="text" class="input-text-rounded" value="Ramos">
        </section>

        <section class="form-control col-span-3 lg:col-span-1">
          <label for="" class="label">Linkedin</label>
          <input type="text" class="input-text-rounded" value="https://link">
        </section>

        <section class="form-control">
          <label for="" class="label">Teléfono</label>
          <input type="text" class="input-text-rounded" value="015819119">
        </section>

        <section class="form-control">
          <label for="" class="label">Correo</label>
          <input type="text" class="input-text-rounded" value="oramos@gamil.com">
        </section>

        <section class="form-control">
          <label for="" class="label">Ciudad</label>
          <app-select-rounded></app-select-rounded>
        </section>

        <section class="form-control col-span-2 lg:col-span-1">
          <label for="" class="label">Domicilio</label>
          <input type="text" class="input-text-rounded" value="Av. Perú">
        </section>

        <section class="form-control">
          <label for="" class="label">Expectativa salarial</label>
          <input type="text" class="input-text-rounded" value="6000">
        </section>
      </section>
    </section>

    <section class="form-control">
      <label for="" class="label">Imagen</label>
      <textarea class="text-area-rounded" name="" id="" cols="30" rows="12"></textarea>

      <section class="mt-4 flex-center">
        <button 
          class="bg-primary cursor-pointer rounded-2 py-1 px-10 text-white border-2-secondary text-6"
          type="button"  
        >
          Seleccionar imagen
        </button>
      </section>
    </section>
  </section>
</app-card>

<app-card title="Formación académica">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Carrera</th>
        <th>Tipo Estudio</th>
        <th>Estado Estudio</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Ubicación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td label="Item">1</td>
        <td label="Institución">Telesup</td>
        <td label="Carrera">Ingeniería de Sistemas</td>
        <td label="Tipo Estudio">Técnico</td>
        <td label="Estado Estudio">Titulado</td>
        <td label="Fecha Inicio">09/06/2022</td>
        <td label="Fecha Fin">23/06/2023</td>
        <td label="Ubicación">Lima</td>
        <td label="Acciones"></td>
      </tr>
    </tbody>
  </table>
</app-card>

<app-card title="Experiencia Laboral / Pre profesional">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Empresa</th>
        <th>Area</th>
        <th>Cargo</th>
        <th>Rubro</th>
        <th>Aptitudes</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Funciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Actualización profesional">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Tipo</th>
        <th>Nombre</th>
        <th>Institución</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Funciones</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Experiencias complementarias / Logros">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Aptitudes">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Idiomas">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Idioma</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Certificado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Computación">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Institución</th>
        <th>Competencias</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<app-card title="Referencias">
  <section class="flex justify-flex-end">
    <app-btn-add></app-btn-add>
    <app-switch label="Publicar"></app-switch>
  </section>
  
  <table class="table-default">
    <thead>
      <tr>
        <th>Item</th>
        <th>Nombres y Apellidos</th>
        <th>Institución</th>
        <th>Cargo</th>
        <th>Tipo Ref. Laboral</th>
        <th>Tipo Ref. Estudio</th>
        <th>Correo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</app-card>

<section class="grid grid-cols-6 gap-x-1 lg:grid-cols-3 sm:block">
  <section class="mb-2 col-start-4 lg:col-start-1">
    <app-btn-primary text="Modificar"></app-btn-primary>
  </section>

  <section class="mb-2 col-start-5 lg:col-start-2">
    <app-btn-secondary text="Guardar"></app-btn-secondary>
  </section>

  <section class="mb-2 col-start-6 lg:col-start-3">
    <app-btn-secondary text="Cancelar"></app-btn-secondary>
  </section>
</section>